@page "/photos/delete/{id:int}"

<h3>Delete</h3>
@if (photo is null)
{
	<p>Photo not found</p>
}
else
{
	<h3>Are you sure you want to delete this?</h3>
	<article>
		<p>@photo.Id</p>
		<p>@photo.Title</p>
		<p>@photo.Description</p>
		<img src="@photo.DataUrl" alt="@photo.Title" style="max-width: 100px" />
	</article>

	<EditForm FormName="PhotoDeleteForm" Model="photo" OnSubmit="DeletePhoto">
		<button type="submit">Delete</button>
	</EditForm>
}